* {
  box-sizing: border-box;
}

h1 {
  font-size: 2em;
  text-align: center;
}

.bottomText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
}